@import "customColors";

$body-bg:$grey2 ;
$text-color: $primaryBlue;

$panel-default-text : $myWhite;
$panel-bg : $myWhite;
$panel-default-heading-bg: $greyInfopro;
$panel-inner-border: $redInfopro;
$panel-default-border: $redInfopro;

$navbar-default-bg: $redInfopro;
$navbar-default-link-color : $myWhite;
$navbar-default-link-hover-color : $redInfopro;
$navbar-default-link-hover-bg:$myWhite;
$navbar-default-brand-hover-color : $redInfopro;
$navbar-default-brand-hover-bg:$myWhite;

$progress-bg: $grey2;
$progress-bar-color:$myWhite;



body{
	background-image: url("../../../img/bg-pattern.png");
}

input{
  width: 50%;

}

label{
  width: 30%;
  color:$redInfopro;
  font-family: 'Ubuntu', sans-serif;
}
.btn{
  background: $greyInfopro;
  color: $myWhite;
  font-family: 'Ubuntu', sans-serif;
}
.table>tbody>tr>td{
	vertical-align: middle !important;
	text-align:center;
	width:25%;
	height:25px;
	font-family: 'Ubuntu', sans-serif;
}
.table>thead>tr>td{
	vertical-align: middle !important;
	text-align:center;
	width:25%;
	height:25px;
	font-size:1.2em;
	font-family: 'Ubuntu', sans-serif;
}
.progress{
	margin-top: 20px;


}

.navbar-brand > img {

	margin-top:-15px;
}

#progress-total{

	height:25px;
	font: bold 20px Ubuntu !important;
	
}

nav{
	font: 20px Ubuntu;
}
h4{
	text-align:center;
	font: bold 20px Ubuntu !important;
}

