$primaryBlue: #16193B;
$secondBlue: #35478C;
$thirdBlue: #4E7AC7 ;
$fouthBlue: #7FB2F0 ;
$fifthBlue: #ADD5F7 ;

$myWhite: #F8FBFF;

$redInfopro:#cc081c;
$greyInfopro:#707173;

$grey1:#dfdfdf;
$grey2:#f1f1f1;
