@import "customColors";

$body-bg: $thirdBlue;
$text-color: $primaryBlue;

$panel-default-text : $myWhite;
$panel-bg : $fouthBlue;
$panel-default-heading-bg: $primaryBlue;
$panel-inner-border: $fifthBlue;
$panel-default-border: $secondBlue;

$navbar-default-bg: $primaryBlue;
$navbar-default-link-color : $myWhite;
$navbar-default-link-hover-color : $fifthBlue;
$navbar-default-brand-hover-color : $fifthBlue;

input{
  width: 50%;
}
label{
  width: 30%;
}
.btn{
  background: $primaryBlue;
  color: $myWhite;
}
.table>tbody>tr>td{
	vertical-align: middle !important;
	text-align:center;
	width:25%;
	height:25px;
}
.table>thead>tr>td{
	vertical-align: middle !important;
	text-align:center;
	width:25%;
	height:25px;
	font-size:1.2em;
}
.progress{
	margin-top: 20px;
	

	}
