@import "customColors";

$body-bg:$grey2 ;
$text-color: $primaryBlue;

$panel-default-text : $myWhite;
$panel-bg : $myWhite;
$panel-default-heading-bg: $greyInfopro;
$panel-inner-border: $redInfopro;
$panel-default-border: $redInfopro;

$navbar-default-bg: $redInfopro;
$navbar-default-link-color : $myWhite;
$navbar-default-link-hover-color : $redInfopro;
$navbar-default-link-hover-bg:$myWhite;
$navbar-default-brand-hover-color : $redInfopro;
$navbar-default-brand-hover-bg:$myWhite;

/*body{
	background-image: url("../../../img/inforproMoniteur.jpg");
}*/

input{
  width: 50%;
}

label{
  width: 30%;
  color:$redInfopro;
}
.btn{
  background: $greyInfopro;
  color: $myWhite;
}
.table>tbody>tr>td{
	vertical-align: middle !important;
	text-align:center;
	width:25%;
	height:25px;
}
.table>thead>tr>td{
	vertical-align: middle !important;
	text-align:center;
	width:25%;
	height:25px;
	font-size:1.2em;
}
.progress{
	margin-top: 20px;
}

.navbar-brand > img {

	margin-top:-15px;
}
