body{
  background: #611427 ;
  //color: #1D2326;
  color:white;
}
.container {
  padding:10px;
  background: #DDDCC5 ;
  //background: #611427 ;
}
.panel-body{
  background: #6A6A61;
}
.panel-default>.panel-heading{
  background: #958976;
}
.panel-default{
  border: #611427;
}