@import "customColors";

$body-bg:$fouthBlue ;
$gray-base:$primaryBlue;
$font-size-base:18px;

//$link-hover-color:$primaryBlue;
//$link-color:$primaryBlue;

$panel-default-text : $myWhite;
$panel-bg : $myWhite;
$panel-default-heading-bg: $primaryBlue;
$panel-inner-border: $redInfopro;
$panel-default-border: $primaryBlue;

$navbar-default-bg: $primaryBlue;
$navbar-default-link-color : $myWhite;
$navbar-default-link-hover-color : $primaryBlue;
$navbar-default-link-hover-bg:$myWhite;
$navbar-default-brand-hover-color : $primaryBlue;
$navbar-default-brand-hover-bg:$myWhite;

$progress-bg: $grey2;
$progress-bar-color:$myWhite;

body{
  background-image: url("http://localhost/Framewok/Laravel_DB/DashBoardEmilie/public/img/blue-background.jpg");
}

@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";